.App {
  width:80%;
  margin:auto;
}

.App-header
{
  
  margin:auto;
  margin-bottom:25px;
  padding:15px;

  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-radius:0 0 10px 10px;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1
{
  margin:15px;
}

.Nav-right
{
  display:flex;
}

.Nav-right h3
{
  margin: 0 15px;
  cursor:pointer;
}

