.App {

}

.App-header
{
  width:80%;
  
  margin:auto;
  padding:15px;
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1
{
  margin:15px;
}

.Nav-right
{
  display:flex;
}

.Nav-right h2
{
  margin: 0 15px;
}

nav h2:hover
{
  border-bottom:3px solid black;
}